@import './../../common-scss/variables.scss';

.pagination {
    margin: 0;
    align-items: $t-align-center;
    display: $display-flex;
    justify-content: $t-align-center;
    padding: 30px 0;
    li{
        list-style: none;
        padding-right: 20px;
        &.active{
            a.page-link{
                text-decoration: underline;
            }    
        }
        a{
            text-decoration: none;
            color: $dark-color;
        }
    }
    .disabled{
        display: $display-none;
    }
    
}