@import './../../common-scss/variables.scss';

//mixins
@mixin color-fontfamily{
    color: $dark-color;
    font-family: $muli-semibold;
}
@mixin product-name-css{
    @include color-fontfamily;
    font-size: $font-size-36;
    margin: 0;
    margin-top: 15px;
    line-height: 42px;
}
@mixin HeartIconProperties{
    background-repeat: no-repeat;
    background-size: 100%;
    width: 23px;
    height: 23px;
    cursor: pointer;
    display: inline-block;
}

.product-details{
    @include phone-only{
        padding-top:0px;
        padding-left: 0%;
    }
    @include min769x{
        padding-top:20px;
        
    }
    @include tablet-landscape{
        padding-left: 8%;

    }
    .product-thumbnails{
        img {
            width: 100%;
            height: 120px;
        }  
    }
    .product-image{
        @include phone-only{
            text-align: center;
            .crumbs{
                text-align: left;
                margin: 15px 0px;
            }
        }
        @include min769{
            text-align: center;
            .crumbs{
                margin: 0px 0px;
                text-align: left;
            }
        }
        
        img {
            padding-left: 10px;
            @include phone-only{
                width: 100%;
            }
            @include min480{
                width: 300px;
            }
            @include min769x{
                width: 100%;
            }
        }
    }
    .crumbs{
        a{
            @include color-decoration;
            padding-right: 4px;
            padding-left: 4px;
        }
    }
    .details{
        @include phone-only{
            padding-left:0px;
        }
        @include tablet-portrait{
            padding-left:25px;
        }
        .product-name{
            @include phone-only{
                @include product-name-css;
                font-size: 24px;
                line-height: 35px;
            }
            @include min769x{
                @include product-name-css;
            }
        }
        .product-price{
            @include color-fontfamily;
            font-size: $font-size-20;
            color: $dark-color;
            margin:10px 0;
        }
        .product-rating{
            @include color-fontfamily;
            font-size: $font-size-14;
            margin-bottom: 10px;;
        }
        .description{
            color: $dark-color;
            border-bottom: 1px solid #ccc;
            padding-bottom: 15px;
            .readmore{
                @include color-fontfamily;
                text-decoration: underline;
            }
        }
        .p-details-heading{
            @include color-fontfamily();
            font-size: $font-size-20;
            margin: 8px 0;
        }
        .size{
            padding-bottom: 15px;
        }
        .product-colors{
            span{
                width: 64px;
                height: 40px;
                display: $display-inline;;
                border-radius: 5px;
                margin-right: 12px;
                cursor: pointer;
                background-repeat: no-repeat;
                &:nth-child(2){
                    background-color: #d82578;
                    background-image: url('../../assets/images/Swatch 02.png');
                }
                &:nth-child(5){
                    background-color: #027fa7;
                    background-image: url('../../assets/images/Swatch 01.png');
                }
                &:nth-child(4){
                    background-color: #a5a5a5;
                    background-image: url('../../assets/images/Swatch 04.png');
                }
                &:nth-child(3){
                    background-color: #333333;
                    background-image: url('../../assets/images/Swatch 03.png');
                }
            }
        }
        .quantity{
            div{
                @include phone-only{
                    text-align: $t-align-center;
                }
                @include min769x{
                    text-align: left;
                }  
            }
            button{
                width: 30px;
                height: 30px;
                border:1px solid $gray;
                border-radius: 50px;
                border-radius: 50px;
                font-size: 22px;
                color: $dark-color;
                cursor: pointer;
            }
            input{
                width: 114px;
                height: 40px;
                border:1px solid $gray-light;
                border-radius: 8px;
                background: $b-transparent;
                margin: 0px 8px;
            }
        }
        .addToCart{
            margin: 30px 0px 20px 0px;
            @include phone-only{
                text-align:$t-align-center;
            }
            @include min769x{
                text-align: left;
            }  
            button{
                width:318px;
                height:40px;
                background-color: $primary-color;
                border-radius: 28px;
                color: #fff;
                font-size: $font-size-14;
                font-family: $muli-semibold;
                text-align: $t-align-center;
                border: 0px;
                cursor: pointer;
            }    
        }
        .save--share {
            text-align: $t-align-center;
            width: 318px;
            @include phone-only{
                margin: 0 auto;
            }
            @include min769x{
                margin: 0 0;
            } 
            
            
                .save--share__save{
                    display: $display-inline;
                    vertical-align: top;
                    margin-right: 17px;
                    color: $dark-color;
                    .save--share__save__heart--icon{
                        background-image: url(../../assets/images/heart-icon-white.png);
                        @include HeartIconProperties;
                    }
                    .save--share__save__heart--icon--red{
                        background-image: url(../../assets/images/heart-icon-red.png);
                        @include HeartIconProperties;
                    }
                    .save--share__save__title {
                        margin-left: 8px;
                        vertical-align: top;
                        display: inline-block;
                        margin-top: -4px;
                    }
                }
                .save--share__share{
                    display: $display-inline;
                    vertical-align: top;
                    margin-top: -3px;
                    margin-left: 5px;
                    color: $dark-color;
                    .save--share__share__title {
                        margin-left: 8px;
                        vertical-align: top;
                        display: inline-block;
                        margin-top: -2px;
                    }
                }
            
        }
    }
}    
.bottom-row-details{
    @include phone-only{
        padding-top: 0px;
        padding-left: 0%;
        text-align: $t-align-center;
        margin-top: 20px;
    }
    @include min769x{
        padding-left: 8%;
        text-align: inherit;
        margin-top: 40px;
    }

    .details-row{
        @include phone-only{
           padding-top: 20px;
           padding-left: 0px;
        }
        @include min769x{
            text-align: inherit;
            padding-left: 25px;
            padding-top:58px;
        }
    }
    .product-name{
        @include phone-only{
            @include product-name-css;
            font-size: 24px;
            line-height: 35px;
        }
        @include min769x{
            @include product-name-css;
        }
    }
    .product-description{
        @include color-fontfamily();
        font-size: $font-size-20;
        margin: 0;
    padding-top: 15px;
    }
    p{
        color: $dark-color;
    }
    .details{
        @include color-fontfamily();
        font-size: $font-size-20;
        padding-bottom: 15px;
    }
    .details-row{
       
        .sweat-wicking{
            width: 200px;
            margin-bottom: 15px;
            display: $display-inline;
            img{
                width:18px;
                height: 18px;
            }
            span{
                color: $dark-color;
                padding-left: 8px;
            }
        }
    }
}
   .mobile-view{
        @include phone-only{
            display: $display-block;
        }
        @include min769x{
            display: $display-none;
        }
   }
   .desktop-view{
        @include phone-only{
           display: $display-none; 
        }
        @include min769x{
            display: $display-block;
        }
   }



