@import './../../common-scss/variables.scss';

//mixin
@mixin dark-display{
    color: $dark-gunmental;
    display: $display-block;
}
@mixin HeartIconProperties{
                background-repeat: no-repeat;
                background-size: 100%;
                width: 30px;
                height: 26px;
                margin-top: 10px;
}

.products {
    padding-top: 25px;
    .products__hide--lightbox{
        display: $display-none;
    }
    .products__show--lightbox{
        position: $position-absolute;
        width: 100%;
        top: 0;
        right: 0;
        background: $white-color;
        &:before {
            content: '';
            position: $position-absolute;
            box-shadow: 0px 8px 16px #aaa;
            width: 18px;
            height: 100%;
        }
        .products__cross--mobile {
            position: $position-absolute;
            right: 18px;
            top: 9px;
            color: $dark-gunmental;
            font-size: 20px;
            cursor: pointer;
        }
         .products__filters{
            display: $display-block;
        .crumbs{
            display: $display-none;
        }
       }
    } 
    .products__filters{
        @include phone-only{
            display: $display-none;
            padding-right: 0px;
        }
        @include tablet-portrait{
            display: $display-block;
            padding-right: 10px;
        }
        @include min769x{
            padding-right: 30px;
        }
    }
    select{
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #B5B7BC;
        width: 200px;
        color: $dark-gunmental;
        float: right;
    }
    .filters--sort{
         span{
            color: #181C24;
            text-decoration: underline;
            @include phone-only{
                margin-right: 15px;
            }
            @include min769{
                padding-right: 10px;
            }
         }
         .filters--sort__results{
            cursor: pointer;
             img{
            height: 14px;
            margin-right: 5px;
            }
        }  
         .filters--sort__products{
            img{
                height: 15px;
                width: 15px;
                cursor: pointer;
            }
            img:last-child{
                padding-right: 5px;
                margin-left: 3px;
            }
         }
    }
    .mobile--view{
        @include phone-only{
            display: $display-block;
            text-align: $t-align-center;
        }
        @include min769{
            display: $display-none;
        }
    }
    .products--box{
        padding: 25px 0;
        display: $display-flex;
        flex-wrap: wrap;
        row-gap: 20px;
        @include phone-only{
            justify-content: space-around;
        }
        @include desktop-md{
            justify-content: space-between;
        }
        a{
            text-decoration: $display-none;
        }
        .products--box__product{
           
            @include phone-only{
                width: 130px;
                height: 310px;
            }
            @include tablet-portrait{
                width: 200px;
                height: auto;
            }
            @include tablet-landscape{
                width: 200px;
                height: auto;
            }
            .products--box__product__name{
                @include dark-display;
                font-family: $muli-semibold;
                display: $display-block;
            }
            .products--box__product__price{
                @include dark-display;
            }
            .products--box__product__heart--icon{
                background-image: url(../../assets/images/heart-icon-white.png);
                @include HeartIconProperties;
            }
            .products--box__product__heart--icon--red{
                background-image: url(../../assets/images/heart-icon-red.png);
                @include HeartIconProperties;
            }
            img{
                @include phone-only{
                    width: 130px;
                    height: 150px;
                }
                @include tablet-portrait{
                    width:200px;
                    height: 310px;
                }              
            }
        }
    }
    .dark--gunmental.semi-bold{
        @include phone-only{
            display: $display-block;
            width: 100%;
            text-align: $t-align-center;
            padding-top: 20px;
        }
        @include tablet-portrait{
            display:inherit;
            width: auto;
            text-align: left;
            padding-top: 0px;
        }
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 768px) {
    .min768px{
        width: 25% !important;
    }
    .min768pxx{
        width: 75% !important;
    }
}
.show{display: block;}
.hide{display: none;}