@import './../../common-scss/variables.scss';

.text{
    display: inline;
    width: 100%;
  }
    
  .read-or-hide{
    color: $dark-color;
    text-decoration: underline;
    font-family: $muli-semibold;
    cursor: pointer;
  }