@import './../../common-scss/variables.scss';

.placed--items{
    margin-top: 20px;
    padding: 20px 25px;
    border: 1px solid $gray-light;
    @include phone-only{
        padding: 10px;
    }
    @include min769x{
        padding: 20px 25px;
    }
    span{
        display: block;
    }
    .order--items{
        font-family: $muli-semibold;
        padding-bottom: 20px;
    }
    .order--item{
        display: $display-flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 15px;
        .order--item__box {
            width: 280px;
        }
    }
    img {
        width: 97px;
        height: 130px;
        display: inline-block;
        vertical-align: top;
    }
    .bag-product-details{
        display: inline-block;
        padding-left: 11px;
        @include phone-only{
            width: 144px;
        }
        
        @include min769x{
            width: 178px;
        }
        .bag-p-name{
            font-family: $muli-semibold;
        }
    }
}