@import './../../common-scss/variables.scss';

.payment-method{
    .shipping--Method--edit {
        margin-top: 20px;
    }
    .credit--card{
        input{
            width: 21px;
            display: inline-block;
        }
        label {
            display: inline-block !important;
            vertical-align: top;
            padding-top: 8px;
            margin-left: 6px;
        }
    }
    .payment--information--heding{
        margin: 20px 0 10px 0;
    }
    .payment--information{
        .margin-bottom-20{
            margin-bottom: 15px;
        }
        .errorMsg{
            margin-top:0;
        }
        .question--mark img {
            padding-top: 26px;
        }
    }
    .paypal--border{
        border-top:1px solid $gray-light;
        border-bottom:1px solid $gray-light;
        padding: 16px 0;
        margin-top: 20px;
    }    
}
