@import './../../common-scss/variables.scss';

@mixin buttonc {
    
    height: 40px;
    display: inline-flex;
    justify-content: $t-align-center;
    align-items: $t-align-center;
    border-radius: 28px;
    border:0;
    color: $white-color;
    @include phone-only{
        width: 247px;
    }
    @include min769x{
        width: 180px;
    }
    @include min1200{
        width: 247px;
    }
}

.pricing-summary {
    border-radius: 2px;
    box-shadow: 0px 0px 8px #f2f2f2;
    @include phone-only{
        border: 1px solid $gray-light;
        padding: 10px;
        margin-top:20px;
    }
    @include tablet-portrait{
        border: 1px solid $gray-light;
        padding: 18px 25px;
        margin-top:10px;
    }
    h6{
        font-family: $muli-semibold;
        color: $dark-gunmental;
        font-size: $font-size-20;
        
        @include phone-only{
            margin: 10px 0px 10px 0px;
            padding-bottom: 0px;
        }
        @include tablet-portrait{
            padding-bottom: 15px;
            margin: 25px 0px 10px 0px;
        }
    }
    div{
        color: $dark-gunmental;
        padding-bottom: 10px;
        &:last-child{
            font-family: $muli-semibold;
        }
        span{
               &:last-child{
                float: right;
               }
            }
    }
    .checkout--link{
        text-decoration: none;
    }
    .checkout{
        background-color: $primary-color;
        @include buttonc;
        margin: 20px 0px;
        text-transform: uppercase;
        cursor: pointer;
        img{
            padding-right: 5px;
            width: 18px;
        }
    }
    .paypal{
        @include buttonc;
        background-color: #FFC43A;
        img{
            width:87px;
        }
    }
   
    .checkout--button-show{
        width: 100%;
        display: $display-block;
        text-align: $t-align-center;
    }
    .checkout--button-hide{
        display: none;
    }
}
