@import './../../common-scss/variables.scss';

.shipping--information {
    .guest--checkout{
        color: $dark-gunmental;
        margin: 6px 0px;
        @include phone-only{
            font-size: $font-size-24;
        }
        @include min769x{
            font-size: $font-size-36;
        }
    }
    .contact--information{
        font-size: $font-size-20;
        font-family: $muli-semibold;
        margin: 10px 0 2px 0;
    }
    span.contact--information-subtitle {
        margin-bottom: 15px;
        display: $display-block;
    }
    .form--row{
        margin-bottom: 20px;
    }
    .margin--mobile{
        @include phone-only{
            margin-bottom: 20px;
        }
        @include min769x{
            margin-bottom: 0px;
        }
    }
    .shipping--information-heding{
        font-size: $font-size-20;
        font-family: $muli-semibold;
    }
    .margin--top--mobile {
        @include phone-only{
            margin-top: 20px;
          }
          @include min769x{
             margin-top: 0px;
          }
    }
    .form--group{
        padding-right: 20px;
        .errorMsg {
            margin: 2px 0 0px 0;
            color: red;
            position: absolute;
            font-size: $font-size-14;
        }
        label{
            display: $display-block;
            font-family: $muli-semibold;
            padding-bottom: 5px;
        }
        input, select{
            border: 2px solid #B5B7BC;
            border-radius: 8px;
            height: 38px;
            padding: 0 8px;
            width: 100%;
        }
    }
    .checkout--button {
        display: $display-block;
        text-align: $t-align-center;
        margin-top: 40px;
    }
    .checkout--heading{
        font-family: $muli-semibold;
        color: $dark-gunmental;
        position: relative;
        width: 217px;
        &::after{
            content: '';
            width: 100px;
            height: 12px;
            border-bottom: 10px solid $primary-color;
            position: absolute;
            
            @include phone-only{
                right: 87px;
                top: 51px;
            }
            @include tablet-portrait{
                right: 52px;
                top: 69px;
            }
        }
        @include phone-only{
            font-size: $font-size-36;
            margin: 10px auto 20px auto;
        }
        @include tablet-portrait{
            font-size: $font-size-48;
            margin: 20px auto 35px auto;
        }
}
    .margin-bottom-50{
        margin-bottom: 50px;
    }
    .method--rows{
        border-top: 1px solid $gray-light;
        margin-top: 40px;
        @include phone-only{
            margin-bottom: 40px;
        }
        @include min769x{
            margin-bottom: 0px;
        }
        .method--rows__title{
            font-size: $font-size-20;
            font-family: $muli-semibold;
            border-bottom: 1px solid $gray-light;
            padding: 10px 0px;
            display: $display-block;
            color: $gray;
        }
    }
}



 