@import './../../common-scss/variables.scss';


.home--shop--collection{
    margin: 40px 0px;
    article{
        margin: 0 auto;
        display: $display-flex;
        justify-content: center;
        align-items: center;
        .home--shop--collection__row{
            .home--shop--collection__row__subtitle{
                font-size: $font-size-20;
                font-family: $muli-semibold;
            }
        }
        @include phone-only{
            height: auto;
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }
        @include min769x{
            padding-right: 20px;
            margin-top: 0px;
            text-align: left;
        }
        @include min1200{
            height: 450px;
            width: 94%;
        } 
        h2{
            margin: 0;
            @include phone-only{
                font-size: $font-size-36;
                line-height: 40px;
            }
            @include min1200{
                font-size: $font-size-48;
                line-height: 60px;
            }
        }
        .home--shop--collection__row__buttons{
            margin-top: 30px;
            button{
                
                &:first-child{
                    @include phone-only{
                        margin-bottom: 15px;
                    }
                    @include desktop-md{
                        margin-right: 12px;
                        margin-bottom: 0;
                    }
                }
                @include phone-only{
                    display: block;
                    margin: 0 auto;
                    width: 280px;
                }
                @include min769x{
                    display: inline;
                    margin: 0 0;
                    
                }
                @include desktop-md{
                    width: auto;
                }
            }
        }
        .home--shop--collection__row__line{
            width: 90px;
            height: 8px;
            background-color: $primary-color;
            
            @include phone-only{
                margin: 33px auto;
            }
            @include min769x{
                margin: 33px 0;
            }
        }
    }
    .mobile{
        @include phone-only{
            display: block;
            height: 320px;
            overflow-y: hidden;
            img{
                width: 100%;
            }
        }
        @include min769x{
            display: none;
        }
    }
    .desktop{
        height: 450px;
        overflow-y: hidden;
        img{
            width: 100%;
        }
        @include phone-only{
            display: none;
        }
        @include min769x{
            display: block;
        }
    }
}