@import './../../common-scss/variables.scss';

footer{
    margin-top: 50px;
    border-top: 1px solid #ccc;
    .footer{
        display: $display-flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 30px 0;
        @include phone-only{
            flex-flow: column;
            row-gap: 25px;
        }
        @include min480{
            flex-flow: row wrap;
            row-gap: 0;
        }
        .footer__box {
            display: $display-flex;
            flex-direction: column;
            row-gap: 9px;
            h4 {
                margin: 0;
                color: $dark-gunmental;
            }
            a{
                text-decoration: none;
                color: $dark-light;
            }
            p{
                width: 230px;
                color: $dark-light;
                margin:0px;
            }
            .footer__box__social-media a {
                margin-right: 15px;
            }
        }
    }
    .mobile-view{
        @include phone-only{
            display: $display-block;
        }
        @include min769{
            display: $display-none;
        }
    }
    .terms--policy {
        padding: 30px 0px;
        border-top: 1px solid #ccc;
        .terms--policy__footer-logo img{
            width: 110px;
        }
        .terms--policy__company--add{
            text-align: $t-align-center;
            color: $dark-light;
            font-size: $font-size-14;
            @include phone-only{
                padding-top: 20px;
            }
            @include min769{
                padding-top: 0px;
            }
        }
        .terms--policy__footer--links{
            @include phone-only{
                text-align: $t-align-center;
            }
            @include min769{
                text-align: right;
            }
             a{
                color: $dark-gunmental;
                padding-right: 18px;
                font-size: $font-size-14;
                font-family: $muli-semibold;
             }   
        }
    }
}

