//mixin for media querry
  @mixin phone-only {
    @media (min-width: 320px) { @content; }
  }
  @mixin tablet-portrait {
    @media (min-width: 768px) { @content; }
  }
  @mixin min480 {
    @media (min-width: 480px) { @content; }
  }
  @mixin min769 {
    @media (min-width: 768px) { @content; }
  }
  @mixin min769x {
    @media (min-width: 769px) { @content; }
  }
  @mixin tablet-landscape {
    @media (min-width: 1024px) { @content; }
  }
  @mixin min1200 {
    @media (min-width: 1200px) { @content; }
  }
  @mixin desktop-md {
    @media (min-width: 1280px) { @content; }
  }
  @mixin desktop-lg {
    @media (min-width: 1440px) { @content; }
  }
  @mixin desktop-xl {
    @media (min-width: 1920px) { @content; }
  }


  @mixin middle-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @mixin color-decoration{
    color: $dark-gunmental;
    text-decoration: none;
  }