@import './mixins.scss';

//colors
$primary-color: #1363DF;
$white-color: #fff;
$dark-gunmental: #1B252C;
$dark-light: #545D63;
$dark-color: #172026;
$gray-light: #D1D3D6;
$gray: #91959C;

//font family
$muli-normal: 'muli';
$muli-semibold: 'muli-semibold';

//font sizes
$font-size-54: 54px;
$font-size-48: 48px;
$font-size-40: 40px;
$font-size-36: 36px;
$font-size-30: 30px;
$font-size-33: 33px;
$font-size-32: 32px;
$font-size-28: 28px;
$font-size-24: 24px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;

//common css properties variables
$display-none: none;
$display-block: block;
$display-inline: inline-block;
$display-flex: flex;
$position-absolute: absolute;
$position-relative: relative;
$t-align-center: center;
$float-left: left;
$b-transparent: transparent;

// font family starts from here
@font-face {
    font-family: 'muli';
    src: url('./../assets/fonts/Muli.eot');
    src: url('./../assets/fonts/Muli.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/Muli.woff2') format('woff2'),
        url('./../assets/fonts/Muli.woff') format('woff'),
        url('./../assets/fonts/Muli.ttf') format('truetype');
        // url('./../assets/fonts/Muli.svg#Muli') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'muli-semibold';
    src: url('./../assets/fonts/Muli-SemiBold.eot');
    src: url('./../assets/fonts/Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./../assets/fonts/Muli-SemiBold.woff2') format('woff2'),
        url('./../assets/fonts/Muli-SemiBold.woff') format('woff'),
        url('./../assets/fonts/Muli-SemiBold.ttf') format('truetype');
        // url('./../assets/fonts/Muli-SemiBold.svg#Muli-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


