@import './../../common-scss/variables.scss';


@mixin buttonc {
            width: 247px;
            height: 40px;
            display: inline-flex;
            justify-content: $t-align-center;
            align-items: $t-align-center;
            border-radius: 28px;
            border:0;
            color: $white-color;
}
@mixin updownarrow {
    display: $display-inline;
    width: 13px;
    height: 13px;
    background-size: 100%;
    margin-left: 10px;
}
.sh-bag-heading{
    font-family: $muli-semibold;
    color: $dark-gunmental;
    text-align: $t-align-center;
    position: relative;
    &::after{
        content: '';
        width: 100px;
        height: 12px;
        border-bottom: 10px solid $primary-color;
        position: absolute;
        @include phone-only{
            right: 32%;
            top: 50px;
        }
        @include min769x{
            right: 41%;
            top: 74px;
        }
    }
    @include phone-only{
        font-size: $font-size-30;
        width: 283px;
        margin:10px auto 50px auto;
    }
    @include min769x{
        font-size: $font-size-48;
        width: 446px;
        margin:10px auto 60px auto;
    }
}
.shopping-bag{
    .shopping-thumbnails{
        padding-bottom: 25px;
        img{
            display: $display-inline;
            @include phone-only{
            width: 100px;
            height: 120px;
            }
            @include tablet-portrait{
            width: 150px;
            height: 200px;
            }
        }
        .bag-product-details{
            display: $display-inline;
            vertical-align: top;
            padding-left: 20px;
           
            @include phone-only{
                width: 65%;
            }
            @include tablet-portrait{
                width: 70%;
            }
            @include tablet-landscape{
                width: 200px;
            }
            span{
                &:first-child{
                    font-family: $muli-semibold;
                    line-height: 27px;
                    padding-bottom: 10px;
                        @include phone-only{
                            font-size: $font-size-18;
                        }
                        @include tablet-portrait{
                            font-size: $font-size-20;
                        }
                }
                display:block;
                color: $dark-gunmental;
            }
        }
        .product-modify {
            padding-top: 21px;
            padding-left: 50px;
            a{
                text-decoration: none;
            }
            @include phone-only{
               display: $display-none;
            }
            @include tablet-portrait{
                display: $display-inline;
            }
            div{
                font-family: $muli-semibold;
                color: $dark-gunmental;
                font-size: $font-size-12;
                margin-bottom: 10px;
                cursor: pointer;
                img {
                    width: 16px !important;
                    height: 16px !important;
                    margin-right: 8px;
                    float: $float-left;
                }
            }
        }
    }
    .quantity{
        display: $display-inline;
        @include phone-only{
            padding-top: 0;
            padding-left: 117px;
         }
         @include tablet-portrait{
            padding-top: 45px;
            padding-left: 0px;
         }
        button{
            width: 30px;
            height: 30px;
            border:1px solid $gray-light;
            border-radius: 50px;
            border-radius: 50px;
            font-size: 22px;
            color: $dark-gunmental;
            background: $b-transparent;
            cursor: pointer;
        }
        input{
           
            height: 40px;
            border:1px solid $gray-light;
            border-radius: 10px;
            background: $b-transparent;
            margin: 0px 8px;
            @include phone-only{
                width: 75px;
            }
            @include tablet-portrait{
                width: 114px;
            }
        }
    }

    .product--estimation{
        display: $display-block;
        border: 1px solid $gray-light;
        border-radius: 2px;
        @include phone-only{
            width: 100%;
        }
        @include min769x{
            width: 95%;
        }
        .product--estimation__row{
            display: $display-block;
            width: 100%;
            border-bottom: 1px solid $gray-light;
            padding: 20px 15px;
            .product--estimation__toggle {
                cursor: pointer;
            }
            .product--estimation__left{
                color: $dark-gunmental;
                font-size: $font-size-20;
            }
            .product--estimation__right{
                color: $dark-gunmental;
                font-size: $font-size-14;
                float: right;
                .product--estimation__downarrow{
                    background: url('../../assets/images/chevron-down.png') no-repeat;
                    @include updownarrow;
                }
                .product--estimation__uparrow{
                    background: url('../../assets/images/chevron-up.png') no-repeat;
                    @include updownarrow;
                }
            }
        }
    }
}
.no-cart{
    @include middle-center;
    color: $dark-gunmental;
    height: 400px;
    font-size: $font-size-20;
    font-family: $muli-semibold;
}
