@import './common-scss/variables.scss';

.container{
    @include phone-only{
        width: 100%;
        margin: 0 auto;
    }
    @include min769{
       //  padding: 0px 8%;
    }

    @include desktop-xl{
        width: 1920px;
    }
}
.inner-container{
    @include phone-only{
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    @include min480{
        padding: 0 20px;
    }
    @include tablet-landscape{
         width: 90%;
         padding: 0px 5%;
    }
}
