@import './../../common-scss/variables.scss';

.banner {
    display: flex;
    position: relative;
    .banner__image{
        background: url('../../assets/images/banner.jpg') no-repeat;
        @include phone-only{
            display: $display-flex;
            height: 450px;
            width: 100%;
            background-position: 49% 100%;
            background-size: cover;
        }
        @include min480{
            background-position: 57% 28%;
        }
        @include tablet-portrait{
            display: inline-flex;
            width: 50%;
            height: 400px;
        }
    }
    .banner__text{
        justify-content: center;
        align-items: center;
        @include phone-only{
            display: $display-flex;
            width: 100%;
            position: $position-absolute;
            height: auto;
            background-color: transparent;
            text-align: center;
            bottom: 10%;
        }
        @include tablet-portrait{
            display: inline-flex;
            width: 50%;
            height: 400px;
            position: relative;
            background-color: $gray-light;
            text-align: left;
        }
        div{
            width: 80%;
            h1{
                color: $dark-color;
                margin:0px;
                @include phone-only{
                    font-size: $font-size-30;
                    line-height: 35px;
                    text-shadow: 1px 1px 0px #fff;
                }
                @include min480{
                    font-size: $font-size-36;
                    line-height: 45px;
                    text-shadow: 0px opx 0px #fff;
                }
                @include tablet-landscape{
                    font-size: $font-size-48;
                    line-height: 60px;
                }
            }
            p{
                @include phone-only{
                    margin: 0;
                }
                @include min480{
                    margin: 15px 0px;
                }
            }
            button{
                
                @include phone-only{
                    margin-top:0;
                }
                @include min480{
                    margin-top:15px;
                }
            }
        }
    }
}
